<h1> Add new bookmark</h1>
<br>
<form action='/add_bookmark' method ='post'>
<h3>Title</h3>
<input type="text" name= "title">
<h3>URL</h3>
<input type="text" name= "URL">
<input type ='submit' value= 'Submit'>
</form>