<h1> Delete bookmark </h1>
<form action= '/delete_bookmark' method = 'POST'>
  <h3> Title</h3> <input type= "text" name= "title_to_delete">
  <h3> URL</h3> <input type= "text" name= "url_to_delete">
  <input type="submit" value= "Submit">
</form>