<h1> Update bookmark</h1>
<br>
<form action='/update_bookmark' method ='post'>
<h3> Title</h3> <input type= "text" name= "title_to_update">
<h3> URL</h3> <input type= "text" name= "url_to_update">
<input type="submit" value= "Submit">
</form>